@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

html {
  scroll-behavior: smooth;
}

$body-font-family: "Cairo";
$title-font: "Cairo";

.v-application {
  font-family: $body-font-family, sans-serif !important;
  .title {
    // To pin point specific classes of some components
    font-family: $title-font, sans-serif !important;
  }
  padding: 0rem;
  margin: 0rem;
}

.transparent {
  background-color: transparent;
}

.v-window {
  &-x-transition,
  &-x-reverse-transition,
  &-y-transition,
  &-y-reverse-transition {
    &-enter-active,
    &-leave-active {
      transition: 0.6s cubic-bezier(0.33, 0.41, 0.75, 0.65) !important;
    }
  }
}

.table-cursor tbody tr:hover {
  cursor: pointer;
}

.text_card_style {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  background: -webkit-linear-gradient(
    -45deg,
    #ff0000 16.666%,
    #0077ff 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #f03fd8 83.333%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -moz-background-clip: text;
  background-size: 100%;
  background-repeat: repeat;
}
.text_card_style:hover {
  background-image: linear-gradient(
    -45deg,
    #ff0000 16.666%,
    #fffb00 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #f03fd8 83.333%
  );
  animation: rainbow-text-simple-animation 3s ease-in forwards;
}
.text_style {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -moz-background-clip: text;
  background-size: 100%;
  background-repeat: repeat;
}
.text_style:hover {
  background-image: linear-gradient(
    -45deg,
    #ff0000 16.666%,
    #fffb00 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #f03fd8 83.333%
  );
  animation: rainbow-text-simple-animation 5s ease-in forwards;
}

@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}