.dropdown {
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 28px;
	width: 110px;
	background: #f2f2f2;
	border: 0px solid;
	border-color: white #f7f7f7 whitesmoke;
	border-radius: 3px;
	background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
	background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
	background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
	&:before {
		content: "";
		position: absolute;
		z-index: 2;
		top: 9px;
		right: 10px;
		width: 0;
		height: 0;
		border: 4px dashed;
		border-color: #888888 transparent;
		pointer-events: none;
		border-bottom-style: solid;
		border-top: none;
	}
	&:after {
		content: "";
		position: absolute;
		z-index: 2;
		top: 9px;
		right: 10px;
		width: 0;
		height: 0;
		border: 4px dashed;
		border-color: #888888 transparent;
		pointer-events: none;
		margin-top: 7px;
		border-top-style: solid;
		border-bottom: none;
	}
}
.dropdown-select {
	position: relative;
	width: 130%;
	margin: 0;
	padding: 6px 8px 6px 10px;
	height: 28px;
	line-height: 14px;
	font-size: 12px;
	color: #62717a;
	text-shadow: 0 1px white;
	background: #f2f2f2;
	background: rgba(0, 0, 0, 0) !important;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	&:focus {
		z-index: 3;
		width: 100%;
		color: #394349;
		outline: 2px solid #49aff2;
		outline: 2px solid -webkit-focus-ring-color;
		outline-offset: -2px;
	}
	>option {
		margin: 3px;
		padding: 6px 8px;
		text-shadow: none;
		background: #e76e0a;
		border-radius: 3px;
		cursor: pointer;
	}
}