#biWeekly_id::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

#biWeekly_id::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

#biWeekly_id::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c8e6c9;
}

#weekly_id::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

#weekly_id::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

#weekly_id::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ef9a9a;
}

#daily_id::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

#daily_id::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

#daily_id::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #90caf9;
}

#monthly_id::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

#monthly_id::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

#monthly_id::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffcc80;
}

#onetime_id::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

#onetime_id::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

#onetime_id::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b0bec5;
}